.main-nav-item-container {
    outline: 1px solid black;
    border-radius: 25%;
    color:black;
    height:80px;
    width:80px;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
}